/*
Split Complementary colors
#0d98ba = blue green
#8b0000 = red
#ffa500 = orange 
#f4f4f4 = very light gray
#ffffff = white
#35424a = cool grayish color

*/

body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}

/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul {
	margin:0;
	padding:0;
}

.blue{
	padding:15px;
	background:#0d98ba;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
	border:#8b0000 3px solid;
}

/*Header*/
header{
	background:#0d98ba;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-top: #8b0000 3px solid;
	border-bottom: #8b0000 3px solid;
}

header a{
	color:#ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 10px 0 10px ;
}

header #branding{
	float:left;
}

header #branding a{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .current a{
	color:#ffa500;
	font-weight: bold;
}

header a:hover{
	color:#cccccc;
	font-weight:bold;
}

/*Showcase*/
#showcase{
	min-height:600px;
	background:url('../images/UIC.jpg') no-repeat;
	background-size: 100% 100%;
	text-align:center;
	color:#ffffff;
	border-bottom: #8b0000 3px solid;
}

#showcase h1{
	margin-top:100px;
	font-size:90px;
	margin-bottom:10px;
	text-shadow: 0 0 10px black;
}

#showcase p{
	font-size: 30px;
	text-shadow: 0 0 14px black;
}


/* Main-col*/
article #main-col{
	text-align: center;
}

.makebold{
	font-weight: bold;
}

/*courses section*/
.manage{
	margin-top:20px;
	margin-bottom:50px;
	line-height: 1.6;
}

.courses{
	line-height: 1.2;
	height:auto;
}

.descrip{
	height: auto;
	margin-top: 0px;
	margin-bottom: 50px;
}

/* Sidebar */
aside#sidebar{
	float:right;
	width:30%;
	margin-top:10px;
}

/*contact-col */
article#contact-col{
	float:left;
	width:65%;
}


/* footer */
footer{
	padding:20px;
	margin-top:20px;
	color:#ffffff;
	background-color: #0d98ba;
	text-align:center;
	border-top: #8b0000 3px solid;
	border-bottom: #8b0000 3px solid;
}

/* media queries */ 
@media(max-width: 768px){
	header #branding,
	header #branding li,
	header nav,
	header nav li,
	article#main-col,
	article#contact-col,
	aside#sidebar{
		float:none;
		text-align:center;
		width:100%;
		}

		header{
			padding-bottom:20px;
		}

		#showcase h1{
			margin-top:40px;
		}

}
